* {
    font-style: italic;
}

h4.second-Heading {
    color: blue;
    font-size: 30px;
}

#first-Heading { /* id selector */
    color: teal;
    font-size: 35px;
}

.second-Heading { /* class selector */
    color: red;
    font-size: 30px;
    font-style: italic;
}

.second-Heading.third-Heading{ /* multiple class selector */
    color: green;
    font-style: normal;
}

.box .second-Heading { /* descendant selector */
    color: purple;
}

div.box > h2{
    text-decoration: underline;
}

div.box  p{
    font-style: italic;
    text-decoration: underline;
}

:root { /*Variable in CSS*/
    --text-color: blue;
}

h1 {
    --my-color: green;
    color: var(--my-color);
    font-size: 50px;
}